@model mvc17Aug.Models.CourseStudent
@inject IRepository<Student> studentRepo
@inject IRepository<Course> courseRepo

@{
    ViewData["Title"] = "Edit";
}
 
<h1>Edit enrollment</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseStudentID" />

            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control">
                    <option value="">Select a Student</option>
                    @foreach (var student in studentRepo.GetAll())
                    {
                        <option value="@student.StudentID">@student.StudentName</option>
                    }
                </select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <select asp-for="CourseID" class="form-control">
                    <option value="">Select a Course</option>
                    @foreach (var course in courseRepo.GetAll())
                    {
                        <option value="@course.CourseID">@course.CourseName</option>
                    }
                </select>
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}