@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a asp-controller="Student" asp-action="Index">Student Management</a>
    </div>

    <div>
        <a asp-controller="Course" asp-action="Index">Course Management</a>
    </div>

    <div>
        <a asp-controller="CourseStudent" asp-action="Index">Enrollment Management</a>
    </div>

    <div>
        The current time is: @Model
    </div>
</div>
